
div:has(.price) {
    font-size: 2.5vw;
    text-align: center;
}
.price {
    font-size: 4vw;
    width: 100%;
}
.price > label {
    font-size: 4vw;
    font-weight: bold;
}
.price:has(#lblMinP) {
    color:darkgreen;
}
.price:has(#lblCurP) {
    color:darkslateblue;
}
.price:has(#lblMaxP) {
    color:darkred;
}

.btn-block{
    font-size: 2vw;
    padding: 2px;
}

.canvas {
    width: 100%;
}

footer {
    font-size: 1.5vw;
    background-color: lightgray;
}

#zoner {
    font-size: 3vw;
    padding: 0.5vw;
}

